.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    margin:5% auto;

    input {
        width: 20vh;
    }
    input[type="time"], input[type="text"]{
       text-align: center;
    }
    summary {
        display: flex;
        justify-content: center;
    }
}