.error {
    color: red
}

.formActions {
    display: flex;
    justify-content: space-evenly;
    padding: 10%;

    button {
        border-radius: 10px;
        padding: 10px;
        background-color: white;
        transition: background-color 1s ease, border-radius 1s ease;
    }

    button:hover {
        background-color: rgb(192, 248, 255);
        border-radius: 20px;
    }

}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;

    input,
    h1,
    button {
        transition: opacity 1s ease;
    }

    label,
    p {
        display: flex;
        justify-content: center;
        padding: 10%;
    }

    input {
        border: 1px solid rgb(177, 253, 241);
        border-radius: 4px;
        transition: background-color 1s ease;
    }

    input:hover {
        background-color: rgb(192, 248, 255);
    }
}


.errorData {
    background-color: rgb(255, 203, 203);
    border: 2px solid red !important;
}

.date {
    background-color: rgba(207, 207, 207, 0.3);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 1s ease;

    p {
        padding: 0;
    }
}

.date:hover {
    background-color: rgb(192, 248, 255, 0.3);
}

.success {
    background-image: url(https://em-content.zobj.net/source/joypixels-animations/366/check-mark-button_2705.gif);
    background-repeat: no-repeat;
    background-position: center;

    input,
    h1,
    button {
        opacity: 0;
    }

}