.error {
    color: red
}

.formActions {
    display: flex;
    justify-content: space-evenly;
    padding: 10%;

    button {
        border-radius: 10px;
        padding: 10px;
        background-color: white;
        transition: background-color 1s ease, border-radius 1s ease;
    }

    button:hover {
        background-color: rgb(192, 248, 255);
        border-radius: 20px;
    }

}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;

    label,
    p {
        display: flex;
        justify-content: center;
        padding: 10%;
    }

    input {
        border: 1px solid rgb(177, 253, 241);
        border-radius: 4px;
        transition: background-color 1s ease;
    }

    input:hover {
        background-color: rgb(192, 248, 255);
    }
}


.errorData {
    background-color: rgb(255, 203, 203);
    border: 2px solid red !important;
}