.input {
    width: 50%;
    padding: 10px;
    background-color: #ffffff;
    color: black;
    transition: width 1s ease, background-color 1s ease, color 1s ease; 
}

.inputDiv {
    display: flex;
    justify-content: center;
}

.input:hover {
    width: 60%; 
    background-color: greenyellow; 
    color: rgb(0, 141, 31)
}
